*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 568px){
    
body{
   
    background-color: blue;
    
}

#Botoes{
    display: flex;
    width: 60%;
    
}

 button{
    width: 10px;
    height: 50px;
    background-color: green;
 }
}

div#container{
    margin: auto;
    margin-top: 10vh;
    border: 1px solid black;
    border-radius: 5px;
    width: 90vw;
    height: 80vh;
    display: block; 
    flex-wrap: wrap;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    background-color: gray;
    
}
p {
    font-size: 1em;
}

div#data{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 50px;
    width: auto ; 
    height: auto;
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;  
    display: flex;
    justify-content: center;
    align-items: center;

}


div#relogio{
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 15vw;
    height: 40px;
    background-color: rgb(212, 212, 142);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

div#retorno{ /*aparecer mensagem ou imagem de acordo com o tempo de alarme*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2px;
    width: 50vw;
    height: 30vh;
    border: 1px solid black;
    border-radius: 5px;
    font-size: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

img{
    
    width: 100%;
    height: 100%;
}

.Botao {
    
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(212, 212, 142);
    font-size: 1em;
}


